* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgb(240, 213, 180);
}

.page-logo {
    background: url('assets/boxer-header.png') center/cover no-repeat;
    width: 50%;
    height: 120px;
    margin: 12px auto;
}

.main-nav__items {
    list-style: none;
    display: flex;
    padding: 0 3rem;
    justify-content: flex-start;
    align-items: center;
    margin: 2rem auto;
    background-color: burlywood;
    width: 95%;
    border-radius: 2px;
}

.main-nav__item {
    padding: 1.2rem 0;
}

.helper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
    padding: 0 2rem;
}

.main-nav__item:hover {
    background: rgb(56, 53, 53);
    color: white;
}

section {
    width: 55%;
    text-align: center;
    background-color: rgb(255, 210, 128);
    padding: 0.7rem;
    margin: 1rem 0;
}

.image {
    background: url('assets/boxer1.png') center/cover no-repeat;
    height: 300px;
}


aside {
    width: 35%;
    text-align: center;
    padding: 0.5rem;
    background-color: rgb(253, 207, 121);
}

aside .image {
    background: url('assets/boxer2.png') center/cover no-repeat;
    height: 300px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(139, 120, 85);
}

footer p {
    margin: 0;
}
